<!DOCTYPE html>
<html lang="en" style="background-color: black;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
</head>

<body>
    <header>
        <h1 style="text-align:center;color:white;">DH-HEROES</h1>

    </header>
    <article style="text-align: center;">
        <table>
            <tr>
                <td><a href="babbage.html" style="color: white;"><img src="img/babbage.jpg" alt="Babbage" width="256"
                            height="171">
                        <h3>Babbage</h3>
                    </a></td>
                <td><a href="berners-lee.html" style="color: white;"><img src="img/berners-lee.jpg" alt="Berners Lee"
                            width="320" height="174">
                        <h3>Berners Lee</h3>
                    </a></td>
                <td><a href="clarke.html" style="color: white;"><img src="img/clarke.jpg" alt="Clarke" width="150"
                            height="199">
                        <h3>Clarke</h3>
                    </a></td>
                <td><a href="hamilton.html" style="color: white;"><img src="img/hamilton.jpg" alt="Hamilton" width="335"
                            height="189">
                        <h3>Hamilton </h3>
                    </a></td>
            </tr>
            <tr>
                <td><a href="hopper.html" style="color: white;"><img src="img/hopper.jpg" alt="Hopper" width="200"
                            height="262">
                        <h3 style="text-align: center;">Hopper</h3>
                    </a></td>
                <td style="text-align: center;"><a href="lovelace.html" style="color: white;"><img
                            src="img/lovelace.jpg" alt="Lovelace" width="178" height="256">
                        <h3>Lovelace</h3>
                    </a></td>
                <td><a href="turing.html" style="color: white;"><img src="img/turing.jpg" alt="Alan Turing" width="200"
                            height="281">
                        <h3>Turing</h3>
                    </a></td>
            </tr>
        </table>
    </article>
</body>

</html>